driver/main/java/io/crate/client/jdbc/Forwarding*.java linguist-generated=true
gradlew                                                linguist-generated=true
gradlew.bat                                            linguist-generated=true
