name: Documentation

on:
  pull_request: ~
  push:
    branches:
      - master

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run each night.
  schedule:
    - cron: '0 7 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  documentation:

    name: Build docs on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Acquire sources
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Validate documentation
        run: |
          cd docs && make check
